<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>CreateEmployeeServlet</servlet-name>
		<servlet-class>imcs.trng.CreateEmployeeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewEmployeeServlet</servlet-name>

		<servlet-class>imcs.trng.ViewEmployeeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateServlet</display-name>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>imcs.trng.UpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateEmployeeServlet</servlet-name>
		<url-pattern>/createemployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewEmployeeServlet</servlet-name>
		<url-pattern>/viewemployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateServlet</servlet-name>
		<url-pattern>/updateemployee</url-pattern>
	</servlet-mapping>
	<jsp-config>
		<taglib>
      		<taglib-uri>coretag</taglib-uri>
      		<taglib-location>tlds/c.tld</taglib-location>
    	</taglib>
	</jsp-config>

</web-app>
